@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
   
}

main section {
    color: #fff;
    font-weight: 400;
    font-size: 1.2em;
    margin-top: 150px;
    margin-left: 200px;
    max-width: 500px;
}

.estrutura {
    margin-top: 800px;
    width: 1400px;
    align-items: center;
}

main ul {
    list-style: none;
}

main li {
    padding: 10px;
}
main a {
    color: #fff;
    text-decoration: none;
    
}

main ul li a:hover {
    color: black;
    padding: 10px;
    border: 1px solid #fff;
    background-color: #fff;
    transition: 0.8s;
    border-radius: 7px;
}